/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Page style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body,
html {
  margin: 0;
  /* padding: 0;
  box-sizing: border-box; */
  background-color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ea9999;
}

/* Classed Used for all titles */
.section-title {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
/* Classed Used for all text */
.text {
  text-align: center;
  padding-bottom: 50px;
  padding: 0px 15%;
  padding-bottom: 2%;
  margin: 0px auto;
  font-size: 22px;
}

/* Class for animaiton Header*/

.ex1 {
  opacity: 0;
  span {
    position: relative;
    top: 10px;
    left: 10px;
    opacity: 0;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~For image Groups ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
figure {
  padding: 0px;
  margin: 0px;
  width: fit-content;
  /* border: #d68888 solid 2px; */
  /* height: 600px; */
}
figcaption {
  width: auto;
}
figcaption a {
  all: unset;
}
figcaption a:hover {
  all: unset;
  text-decoration: underline;
}
figure img {
  padding: 0;
  margin: 0;
}
/* Change collems for page */
.index-photos {
  column-count: 2;
  display: block;
  /* padding-left: 22%; */
  width: fit-content;
  text-align: center;
  margin: 0px auto;
}
.index-photos img {
  height: 400px;
}
.index-photos figcaption {
  font-size: 35px;
  font-weight: bold;
  border: #d68888 solid 3px;
}
.uncc-photos {
  column-count: 3;
  /* column-fill: auto; */
  display: block;
  width: fit-content;
  text-align: center;
  /* position: relative; */
  /* top: 50%;
  left: 6%; */
  margin: 0px auto;
  border: #d68888 solid;
}
.uncc-photos img {
  width: 350px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Nav Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ea9999;
  font-size: 15 px;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  background-color: #ea9999;
}
ul li {
  position: relative;
  float: left;
}

ul li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  text-align: center;
}
/* Drop Down for My Experience */
ul li ul.dropdown li {
  display: block;
  float: none;
}

ul li ul.dropdown {
  width: 100%;
  position: relative;
  z-index: 999px;
  display: none;
}
a:hover {
  background-color: #d68888;
}

ul li:hover ul.dropdown {
  display: block;
}
/* End Of Nav Bar */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
  position: relative;
  height: 4em;
  background-color: #ea9999;
  color: white;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  margin: 0px;
  padding: 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Index.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.info {
  text-align: center;
  padding-bottom: 50px;
  padding: 0px 30px;
  font-size: 18px;
}
.photo-container {
  display: flex;
  margin: 1px auto;
  width: 50%;
  text-align: center;
}
.about-me {
  text-align: center;
  padding-bottom: 50px;
  padding: 0px 30px;
  font-size: 18px;
}

.banner-index {
  background-image: url(Photos/CroatiaBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
}
.banner-index h1 {
  margin: auto;
  font-size: 45px;
  font-family: Helvetica;
  text-shadow: white;
}

.index-photos img {
  width: 0 auto;
  border: #d68888 soild;
}
/* End of Index.html */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~study_abroad.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.TopText {
  margin: 20px;
  color: #ea9999;
}
.TopText h1 {
  font-size: 60px;
  text-align: center;
}
.TopText p {
  text-align: center;
  font-size: 32px;
}

/* Text and image here */

#bottom-text {
  display: inline-flex;
}

.inside-text {
  text-align: center;
  margin: 0;
  font-size: 22px;
}
.inside-text > a > h2 {
  font-size: 42px;
  color: #ea9999;
}
.inside-text > a :hover {
  text-decoration: underline;
  font-size: 50px;
}
#seperate-padding {
  padding-bottom: 50px;
}
/* .wrapper img {
  max-width: 320px;
  border: 3px solid #ea9999;
  border-radius: 10px;
} */
.side-photo {
  margin: 0px 35px;
  width: 400px;
  border: 3px solid #ea9999;
  border-radius: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~France.html & Croatia.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#City-Top {
  padding: 25px 0;
  display: inline-flex;
  justify-content: center;
}

#City-Top > img {
  height: 350px;
}

#City-Top-text {
  flex-direction: column;
  text-align: center;
  width: 35%;
  margin: 0 35px;
}
#City-Top-text > h2 {
  padding: 18px 0;
  margin: 10px;
  border-style: solid none;
  text-decoration: none;
  font-size: 35px;
}
#City-Top-text > p {
  margin: 0 35px;
  padding: 0px;
  padding-top: 25px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Middle ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.City-Middle-Title {
  background-color: #ea9999;
  text-align: center;
  color: white;
  padding: none;
  padding-top: 25px;
  margin: 0;
  font-size: 35px;
}
.City-Middle {
  background-color: #ea9999;
  color: white;
  display: flex;
  padding: 25px 15%;
  margin: 0;
  justify-content: center;
  height: 400px;
}

.City-text {
  margin: 0 35px;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 100%;
}

.City-text h3 {
  font-size: 30px;
  padding: none;
  margin: none;
  text-decoration: wavy underline;
  font-style: italic;
}
.City-quote {
  font-weight: bold;
}

.City-img-table {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.City-img-table-col {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.City-img-table-img img {
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Bottom ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#City-Break {
  height: 50px;
}
.City-Bottom {
  background-color: #dcc798;
  display: flex;
  padding: 25px 15%;
  margin: 0;
  justify-content: center;
}

.City-Bottom-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.City-Bottom-img img {
  width: 250px;
  height: auto;
  padding: 0;
  margin: 0;
}

.City-Bottom-text {
  padding: 0 50px;
  width: 35%;
  padding-top: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Uncc.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.banner-uncc {
  background-image: url(Photos/UnccBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
}
.banner-uncc h1 {
  margin: auto;
  font-size: 45px;
  font-family: Helvetica;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
