body,
/* ~~~~~~~~~~~~~~~~~~~ Page style ~~~~~~~~~~~~~~~~~~~ */
html {
  margin: 0;
  /* padding: 0;
  box-sizing: border-box; */
  background-color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ea9999;
}

/* Classed Used for all titles */
.section-title {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
/* Classed Used for all text */
.text {
  text-align: center;
  padding-bottom: 50px;
  padding: 0px 15%;
  padding-bottom: 2%;
  margin: 0px auto;
  font-size: 18px;
}

/* Class for animaiton Header*/

.ex1 {
  opacity: 0;
  span {
    position: relative;
    top: 10px;
    left: 10px;
    opacity: 0;
  }
}
/* ~~~~~~~~~~~~~~~~~~~ For image Groups ~~~~~~~~~~~~~~~~~~~ */
figure {
  padding: 0px;
  margin: 0px;
  width: fit-content;
  /* border: #d68888 solid 2px; */
  /* height: 600px; */
}
figcaption {
  width: auto;
}
figcaption a {
  all: unset;
}
figcaption a:hover {
  all: unset;
}
figure img {
  padding: 0;
  margin: 0;
}
/* Change collems for page */
.index-photos {
  column-count: 2;
  display: block;
  /* padding-left: 22%; */
  width: fit-content;
  text-align: center;
  margin: 0px auto;
}
.index-photos img {
  height: 400px;
}
.index-photos figcaption {
  font-size: 35px;
  font-weight: bold;
  border: #d68888 solid 3px;
}
.uncc-photos {
  column-count: 3;
  /* column-fill: auto; */
  display: block;
  width: fit-content;
  text-align: center;
  /* position: relative; */
  /* top: 50%;
  left: 6%; */
  margin: 0px auto;
  border: #d68888 solid;
}
.uncc-photos img {
  width: 350px;
}
/* ~~~~~~~~~~~~~~~~~~~ Nav Bar ~~~~~~~~~~~~~~~~~~~ */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ea9999;
  font-size: 15 px;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  background-color: #ea9999;
}
ul li {
  position: relative;
  float: left;
}

ul li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  text-align: center;
}
/* Drop Down for My Experience */
ul li ul.dropdown li {
  display: block;
  float: none;
}

ul li ul.dropdown {
  width: 100%;
  position: relative;
  z-index: 999px;
  display: none;
}
a:hover {
  background-color: #d68888;
}

ul li:hover ul.dropdown {
  display: block;
}
/* End Of Nav Bar */

/* ~~~~~~~~~~~~~~~~~~~ Index.html  ~~~~~~~~~~~~~~~~~~~*/
.info {
  text-align: center;
  padding-bottom: 50px;
  padding: 0px 30px;
  font-size: 18px;
}

.photo-container {
  display: flex;
  margin: 1px auto;
  width: 50%;
  border: 1px solid black;
  text-align: center;
}
.about-me {
  text-align: center;
  padding-bottom: 50px;
  padding: 0px 30px;
  font-size: 18px;
}

.banner {
  background-image: url(Photos/CroatiaBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}
.banner h1 {
  text-align: center;
  margin: auto;
  padding: 9%;
  font-size: 45px;
  font-family: Helvetica;
}

.index-photos img {
  width: 0 auto;
  border: #d68888 soild;
}
/* End of Index.html */

/* ~~~~~~~~~~~~~~~~~~~ study_abroad.html ~~~~~~~~~~~~~~~~~~~ */
.TopText {
  margin: 20px;
  color: #ea9999;
}
.TopText h1 {
  font-size: 60px;
  text-align: center;
}
.TopText p {
  text-align: center;
  font-size: 25px;
}

/* Text and image here */
.textbody {
  display: inline;
  width: 0px auto;
  border: solid black;
}
.textbody > .wrapper {
  display: flex;
  width: 100%;
}

.wrapper {
  display: block;
  width: 0px auto;
  border: #d68888 solid;
}
.wrapper img {
  max-width: 320px;
  border: 3px solid #ea9999;
  border-radius: 10px;
}
#left-photo {
  float: left;
  width: 250px;
}
#right-photo {
  float: right;
  width: 250px;
}
.textbody {
  display: inline-flex;
  /* border: 3px solid #ea9999; */

  height: fit-content;
}
.side-text {
  color: #ea9999;
}
.side-text p {
  font-size: 20px;
}
.side-text h2 {
  font-size: 42px;
  color: #ea9999;
}

.testing {
  margin: 0px 20px;
}

.wrapper1 {
  display: inline-flex;
  width: 0px auto;
  text-align: center;
}
.wrapper2 {
  display: inline-flex;
}

/* ~~~~~~~~~~~~~~~~~~~ France.html ~~~~~~~~~~~~~~~~~~~ */

.time {
  background-color: #d68888;
  color: white;
  display: table;
}
/* .time-row{
  display: table-cell;
} */
